header{
	/*background-color: red;*/
}

.logo {
	width: 100px;
	float:left;
}
.menu-nav {
	float: right;
	margin-right: 40px;
}
header::after {
	content: "";
	clear: both;
	display: inline-block;
}
.clear {
	clear: both;
}
li::after {
	content: "text";
	background: blue;
	font-size: 24px;
	color: pink;
}
li::before {
	content: "";
	background: green;
	height: 30px;
	width: 5px;
	display: inline-block;
}
li a {
	font-size: 35px;
}


.container h3 {
	margin-top: 50px;
	font-size: 24px;
	margin-bottom: 30px;
}
.box {	
	background-color: #F2F2F2;
	padding: 20px 20px 40px 40px;
	margin-right: 150px;
}
.inline-b {
	display: inline-block;
}
.box-child {
	margin-top: 30px;
}
.box-child img {
	height: 100px;
	vertical-align: top;
	margin-right: 30px;
}
.box-child  p{
	width: 355px;
}